



@media (max-width: 576px) {
    .buttons input {
        font-size: 1rem;
        border-radius: 8px;
    }
    .information-status textarea {
        font-size: 3.5vw;
        border-radius: 8px;
    }
    .information-name {
        font-size: 4.5vw;
    }
    .information {
        width: 75%;
    }
    .information-email p {
        font-size: 3.2vw;
    }
    .information-status input {
        font-size: 3.2vw;
        border-radius: 5px;
    }
}


@media (min-width: 576px) and (max-width: 768px) {
    .buttons input {
        font-size: 1rem;
        border-radius: 11px;
    }
    .information-status textarea {
        font-size: 3vw;
        border-radius: 5px;
    }
    .information-name {
        font-size: 4vw;
    }
    .information {
        width: 75%;
    }
    .information-email p {
        font-size: 2.8vw;
    }
    .information-status input {
        font-size: 2.8vw;
        border-radius: 5px;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    .buttons input {
        font-size: 2vw;
        border-radius: 11px;
    }
    .information-status textarea {
        font-size: 2.5vw;
        border-radius: 5px;
    }
    .information-name {
        font-size: 3.5vw;
    }
    .information {
        width: 65%;
    }
    .information-email p {
        font-size: 2.2vw;
    }
    .information-status input {
        font-size: 2.2vw;
        border-radius: 8px;
    }
}


@media (min-width: 992px) and (max-width: 1200px) {
    .buttons input {
        font-size: 1.7vw;
        border-radius: 13px;
    }
    .information-status textarea {
        font-size: 1.6vw;
        border-radius: 5px;
    }
    .information-name {
        font-size: 2.7vw;
    }
    .information {
        width: 45%;
    }
    .information-email p {
        font-size: 1.7vw;
    }
    .information-status input {
        font-size: 1.7vw;
        border-radius: 8px;
    }
}


@media (min-width: 1200px) and (max-width: 1400px) {
    .buttons input {
        font-size: 1.7vw;
        border-radius: 13px;
    }
    .information-status textarea {
        font-size: 1.2vw;
        border-radius: 5px;
    }
    .information-name {
        font-size: 2.2vw;
    }
    .information {
        width: 45%;
    }
    .information-email p {
        font-size: 1.2vw;
    }
    .information-status input {
        font-size: 1.5vw;
        border-radius: 8px;
    }
}


@media (min-width: 1400px) and (max-width: 1480px) {
    .buttons input {
        font-size: 1.7vw;
        border-radius: 15px;
    }
    .information-status textarea {
        font-size: 1.2vw;
        border-radius: 5px;
    }
    .information-name {
        font-size: 2.2vw;
    }
    .information {
        width: 45%;
    }
    .information-email p {
        font-size: 1.2vw;
    }
    .information-status input {
        font-size: 1.5vw;
        border-radius: 12px;
    }
}


@media (min-width: 1480px) {
    .buttons input {
        font-size: 1.5vw;
        border-radius: 15px;
    }
    .information-status textarea {
        font-size: 1.2vw;
        border-radius: 5px;
    }
    .information-name {
        font-size: 2.2vw;
    }
    .information {
        width: 45%;
    }
    .information-email p {
        font-size: 1.2vw;
    }
    .information-status input {
        font-size: 1.5vw;
        border-radius: 12px;
    }
}




body {
    background-color: #111111;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
main {
    padding-bottom: 9.3vw;
}
.main-container {
    background-color: #1E1E1E;
    margin-top: 5rem;
    padding: 3rem 0rem 0rem 0rem;
}
.main-container form {
    padding-top: 3rem;
}
.avatar-container {
    display: flex;
    column-gap: 3%;
    justify-content: center;
}
.avatar-img {
    -webkit-filter: brightness(100%);
    border-radius: 1000px;
}
.avatar {
    width: 22%;
    position: relative;
    border-radius: 1000px;
}
.image-hover-icon {
    width: 40%;
    position: absolute;
    top: 36%;
    left: 32%;
}
.avatar a {
    display: none;
}
.avatar:hover a {
    display: block;
}
.avatar:hover .avatar-img {
    -webkit-filter: brightness(40%);
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
.buttons {
    display: flex;
    flex-direction: column;
    row-gap: 5%;
    justify-content: center;
}
.buttons input {
    border: none;
    padding: 0.5vw 2vw 0.5vw 2vw;
    text-wrap: nowrap;
    -webkit-filter: brightness(100%);
}
.buttons input:nth-child(1) {
    background-color: #151515;
    color: #f8f8f8;
    font-weight: 600;
}
.buttons input:nth-child(2) {
    background-color: #eb8259;
    color: #2d1c07;
    font-weight: 700;
}
.buttons input:hover,
.zmiany-buttons input:hover {
    -webkit-filter: brightness(80%);
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}





.information {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 1vw;
}
.information-name {
    display: flex;
    width: 100%;
    color: #f8f8f8;
    font-weight: 600;
}
.information-name p{
    margin: 0px;
    padding: 0px;
}
.information-status {
    width: 100%;
}
.information-status textarea{
    resize: none;
    background-color: #111111;
    border: none;
    color: #f8f8f8;
    outline: none;
    padding: 0.5vw 1vw 0.5vw 1vw;
    width: 100%;
}
.information-status input {
    margin-top: 0.5vw;
    background-color: #555555;
    border: none;
    color: #f8f8f8;
    padding: 0.4vw 1.5vw 0.4vw 1.5vw;
    transition: opacity 0.15s;
}
.information-status input:hover {
    opacity: 0.7;
}
#email-status {
    width: 85%;
}
.information-email {
    display: flex;
    align-items: center;
    column-gap: 1vw;
}
.information-email p {
    color: #eb8259;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    transition: opacity 0.15s;
}
.information-email p:hover {
    opacity: 0.5;
}


#newsletter-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    padding-bottom: 4rem;
}
#newsletter-buttons input {
    flex: 1;
}



.zmiany-container {
    background-color: #0E0E0E;
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    padding: 1rem 0rem 1rem 0rem;
}
.zmiany-text {
    display: flex;
    justify-content: right;
    align-items: center;
    flex: 1;
    font-size: 2rem;
    color: #f8f8f8;
    font-weight: 500;
}
.zmiany-text p {
    margin: 0px;
    padding: 0px;
}
.zmiany-buttons {
    flex: 1;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 2rem;
}
.zmiany-buttons input{
    font-size: 1vw;
    padding: 0.5vw 2vw 0.5vw 2vw;
    border: none;
    border-radius: 12px;
    font-weight: 500;
}
.zmiany-buttons input:nth-child(1) {
    background-color: #111111;
    color: #f8f8f8;
}
.zmiany-buttons input:nth-child(2) {
    background-color: #1E1E1E;
    color: #8AC281;
}
/*

    ZRÓB TAK, ŻE PO PEWNYM CZASIE WIELKOŚĆ SIĘ ZWIĘKSZA TYCH TEXTAREA,
    WIĘC MUSISZ ZMIENIĆ WIELKOŚĆ .INFORMATION Z
    width: 45%; na np. width: 55%; idk popróbuj

*/