



@media (max-width: 576px) {
    .buttons input {
        font-size: 1.3rem;
        border-radius: 8px;
    }
    .information-status textarea,
    .zmiany-text,
    .new-email input {
        font-size: 3.5vw;
        border-radius: 8px;
    }
    .information-name {
        font-size: 4.5vw;
    }
    .information {
        width: 75%;
    }
    .information-email p {
        font-size: 3.2vw;
    }
    .information-status input {
        font-size: 3.2vw;
        border-radius: 5px;
    }
    .zmiany-buttons input{
        padding: 1.5vw 3vw 1.5vw 3vw;
        font-size: 3vw;
    }
    .avatar-delete,
    .email-change {
        width: 100%;
        height: 40vw;
    }
    .email-change-2 {
        height: 80vw;
    }
    .email-change p:nth-child(2) {
        font-size: 1.3rem;
    }
    .avatar-delete p,
    .email-change p {
        font-size: 2rem;
    }
}


@media (min-width: 576px) and (max-width: 768px) {
    .buttons input {
        font-size: 1.2rem;
        border-radius: 11px;
    }
    .information-status textarea,
    .zmiany-text,
    .new-email input {
        font-size: 3vw;
        border-radius: 5px;
    }
    .information-name {
        font-size: 4vw;
    }
    .information {
        width: 75%;
    }
    .information-email p {
        font-size: 2.8vw;
    }
    .information-status input {
        font-size: 2.8vw;
        border-radius: 5px;
    }
    .zmiany-buttons input{
        padding: 0.5vw 2vw 0.5vw 2vw;
    }
    .avatar-delete,
    .email-change {
        width: 80%;
        height: 30vw;
    }
    .email-change-2 {
        height: 60vw;
    }
    .email-change p:nth-child(2) {
        font-size: 1.3rem;
    }
    .avatar-delete p,
    .email-change p {
        font-size: 2rem;
    }
    
}


@media (min-width: 768px) and (max-width: 992px) {
    .buttons input {
        font-size: 2vw;
        border-radius: 11px;
    }
    .information-status textarea,
    .zmiany-text,
    .new-email input {
        font-size: 2.5vw;
        border-radius: 5px;
    }
    .information-name {
        font-size: 3.5vw;
    }
    .information {
        width: 65%;
    }
    .information-email p {
        font-size: 2.2vw;
    }
    .information-status input {
        font-size: 2.2vw;
        border-radius: 8px;
    }
    .zmiany-buttons input{
        padding: 0.5vw 2vw 0.5vw 2vw;
    }
    .avatar-delete,
    .email-change {
        width: 80%;
        height: 30vw;
    }
    .email-change-2 {
        height: 40vw;
    }
    .email-change p:nth-child(2) {
        font-size: 1.3rem;
    }
    .avatar-delete p,
    .email-change p {
        font-size: 2rem;
    }
}


@media (min-width: 992px) and (max-width: 1200px) {
    .buttons input {
        font-size: 1.7vw;
        border-radius: 13px;
    }
    .information-status textarea,
    .zmiany-text,
    .new-email input {
        font-size: 2vw;
        border-radius: 5px;
    }
    .information-name {
        font-size: 2.7vw;
    }
    .information {
        width: 45%;
    }
    .information-email p {
        font-size: 1.7vw;
    }
    .information-status input {
        font-size: 1.7vw;
        border-radius: 8px;
    }
    .zmiany-buttons input{
        padding: 0.5vw 2vw 0.5vw 2vw;
    }
    .avatar-delete,
    .email-change {
        width: 80%;
        height: 25vw;
    }
    .email-change-2 {
        height: 30vw;
    }
    .email-change p:nth-child(2) {
        font-size: 1.5rem;
    }
    .avatar-delete p,
    .email-change p {
        font-size: 2rem;
    }
}


@media (min-width: 1200px) and (max-width: 1400px) {
    .buttons input {
        font-size: 1.7vw;
        border-radius: 13px;
    }
    .information-status textarea,
    .zmiany-text,
    .new-email input {
        font-size: 2vw;
        border-radius: 5px;
    }
    .information-name {
        font-size: 2.2vw;
    }
    .information {
        width: 45%;
    }
    .information-email p {
        font-size: 1.2vw;
    }
    .information-status input {
        font-size: 1.5vw;
        border-radius: 8px;
    }
    .zmiany-buttons input{
        padding: 0.5vw 2vw 0.5vw 2vw;
    }
    .avatar-delete,
    .email-change {
        width: 80%;
        height: 20vw;
    }
    .email-change-2 {
        height: 30vw;
    }
    .email-change p:nth-child(2) {
        font-size: 1.5rem;
    }
    .avatar-delete p,
    .email-change p {
        font-size: 2.5rem;
    }
}


@media (min-width: 1400px) and (max-width: 1480px) {
    .buttons input {
        font-size: 1.7vw;
        border-radius: 15px;
    }
    .information-status textarea,
    .zmiany-text,
    .new-email input {
        font-size: 2vw;
        border-radius: 5px;
    }
    .information-name {
        font-size: 2.2vw;
    }
    .information {
        width: 45%;
    }
    .information-email p {
        font-size: 1.2vw;
    }
    .information-status input {
        font-size: 1.5vw;
        border-radius: 12px;
    }
    .zmiany-container {
        column-gap: 3rem;
    }
    .zmiany-buttons input{
        padding: 0.5vw 2vw 0.5vw 2vw;
    }
    .avatar-delete,
    .email-change {
        width: 60%;
        height: 20vw;
    }
    .email-change-2 {
        height: 25vw;
    }
    .email-change p:nth-child(2) {
        font-size: 1.5rem;
    }
    .avatar-delete p,
    .email-change p {
        font-size: 2rem;
    }
}


@media (min-width: 1480px) {
    .buttons input {
        font-size: 1.5vw;
        border-radius: 15px;
    }
    .information-status textarea,
    .zmiany-text,
    .new-email input {
        font-size: 1.5vw;
        border-radius: 5px;
    }
    .information-name {
        font-size: 2.2vw;
    }
    .information {
        width: 45%;
    }
    .information-email p {
        font-size: 1.2vw;
    }
    .information-status input {
        font-size: 1.5vw;
        border-radius: 12px;
    }
    .zmiany-container {
        column-gap: 3rem;
    }
    .zmiany-buttons input{
        padding: 0.5vw 2vw 0.5vw 2vw;
    }
    .avatar-delete,
    .email-change {
        width: 60%;
        height: 15vw;
    }
    .email-change-2 {
        height: 25vw;
    }
    .email-change p:nth-child(2) {
        font-size: 2rem;
    }
    .avatar-delete p,
    .email-change p {
        font-size: 3rem;
    }
}




body {
    background-color: #111111;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
main {
    padding-bottom: 9.3vw;
}
.main-container {
    background-color: #1E1E1E;
    margin-top: 5rem;
    padding: 3rem 0rem 0rem 0rem;
}
.main-container form {
    padding-top: 3rem;
}
.avatar-container {
    display: flex;
    column-gap: 3%;
    justify-content: center;
}
.avatar-img {
    -webkit-filter: brightness(100%);
    border-radius: 1000px;
}
.avatar {
    width: 22%;
    position: relative;
    border-radius: 1000px;
}
.image-hover-icon {
    width: 40%;
    position: absolute;
    top: 36%;
    left: 32%;
}
.avatar a {
    display: none;
}
.avatar:hover a {
    display: block;
}
.avatar:hover .avatar-img {
    -webkit-filter: brightness(40%);
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
.buttons {
    display: flex;
    flex-direction: column;
    row-gap: 5%;
    justify-content: center;
}
.buttons input {
    border: none;
    padding: 0.5vw 2vw 0.5vw 2vw;
    text-wrap: nowrap;
    -webkit-filter: brightness(100%);
}
.buttons input:nth-child(1) {
    background-color: #151515;
    color: #f8f8f8;
    font-weight: 600;
}
.buttons input:nth-child(2) {
    background-color: #eb8259;
    color: #2d1c07;
    font-weight: 700;
}
.buttons input:hover,
.zmiany-buttons input:hover {
    -webkit-filter: brightness(80%);
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}





.information {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 1vw;
}
.information-name {
    display: flex;
    width: 100%;
    color: #f8f8f8;
    font-weight: 600;
}
.information-name p{
    margin: 0px;
    padding: 0px;
}
.information-status {
    width: 100%;
}
.information-status textarea{
    resize: none;
    background-color: #111111;
    border: none;
    color: #f8f8f8;
    outline: none;
    padding: 0.5vw 1vw 0.5vw 1vw;
    width: 100%;
}
.information-status input {
    margin-top: 0.5vw;
    background-color: #555555;
    border: none;
    color: #f8f8f8;
    padding: 0.4vw 1.5vw 0.4vw 1.5vw;
    transition: opacity 0.15s;
}
.information-status input:hover {
    opacity: 0.7;
}
#email-status {
    width: 85%;
}
.information-email {
    display: flex;
    align-items: center;
    column-gap: 1vw;
}
.information-email p {
    color: #eb8259;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    transition: opacity 0.15s;
}
.information-email p:hover {
    opacity: 0.5;
}


#newsletter-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    padding-bottom: 4rem;
}
#newsletter-buttons input {
    flex: 1;
}



.zmiany-container {
    background-color: #0E0E0E;
    display: flex;
    flex-direction: row;
    padding: 1rem 0rem 1rem 0rem;
}
.zmiany-text {
    display: flex;
    justify-content: right;
    align-items: center;
    flex: 99;
    color: #f8f8f8;
    font-weight: 500;
}
.zmiany-text p {
    margin: 0px;
    padding: 0px;
}
.zmiany-buttons {
    flex: 108;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 2vw;
}
.zmiany-buttons input{
    border: none;
    border-radius: 12px;
    font-weight: 500;
}
.zmiany-buttons input:nth-child(1) {
    background-color: #111111;
    color: #f8f8f8;
}
.zmiany-buttons input:nth-child(2) {
    background-color: #1E1E1E;
    color: #8AC281;
}





.background {
    background-color: #0E0E0E;
    z-index: 50;
    position: fixed;
    opacity: 0.5;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}




.avatar-delete,
.email-change {
    background-color: #1E1E1E;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 30%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: #F8F8F8;
}


.avatar-delete p,
.email-change p {
    color: #f8f8f8;
    font-weight: 600;
    pointer-events: none;
    padding: 0px;
    margin: 0px;
}
.avatar-delete .buttons input:nth-child(1){
    background-color: #341010;
}
.avatar-delete .buttons input:nth-child(2){
    background-color: #555555;
    color: #F8F8F8;
    font-weight: 500;
}



nav {
    z-index: 100;
}




.email-change p:nth-child(2) {
    color:#9D9D9D;
    text-align: center;
}
span {
    font-weight: 700;
}

.ver-code {
    display: flex;
    justify-content: center;
    column-gap: 0.5vw;
}
.ver-code input {
    font-size: 3rem;
    width: 3.8rem;
    height: 5rem;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
    background-color: #ebebeb;
    color: #010101;
    cursor: pointer;
}

.email-change .buttons{
    flex-direction: row;
    column-gap: 1vw;
}
.email-change form {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.email-change .buttons input:nth-child(1) {
    background-color: #eb8259;
    color: #2d1c07;
    font-weight: 700;
}
.email-change .buttons input:nth-child(2) {
    background-color:#151515;
    color: #f8f8f8;
    font-weight: 600;
}

.email-change .buttons input:nth-child(1):disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

.ver-code input:disabled{
    background-color: #cccccc;
    cursor: not-allowed;
}


.new-email {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.new-email input {
    background-color: #111111;
    border: none;
    color: #f8f8f8;
    outline: none;
    padding: 0.5vw 1vw 0.5vw 1vw;
    width: 60%;
}





