body{
    background-color: rgb(34, 33, 33) !important;
}
.linki{
    text-decoration: none;
    opacity: 80%;
    font-weight: bold;
    transition: color 1s,background-color 1s, opacity 1s;
}
.linki:hover{
    opacity: 100%;
    background-color: white;
    color: black !important;
}

.newsy_glowne{
    background-repeat: no-repeat;
    background-size: cover;
}