
.linki{
    text-decoration: none;
    opacity: 80%;
    font-weight: bold;
    transition: background-color 0.4s, opacity 0.4s;
}
.linki:hover{
    opacity: 100%;
    background-color: #1E1E1E;
}


.linki2{
    color: whitesmoke;
    text-decoration: none;
    opacity: 80%;
    font-weight: bold;
    transition: opacity 0.4s;
}
.linki2:hover{
    opacity: 100%;
}